:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --ff-code-pro: "Source Code Pro", monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #010101;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  padding: 1rem 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.site-logo {
  padding: 0.5rem;
}
.site-logo img {
  height: 32px;
}
nav.navbar {
  display: flex;
}
nav.navbar::after {
  content: "";
  display: block;
}
nav.navbar a {
  padding: 0.5rem;
  color: #fff;
}
nav.navbar a .feather-32,
nav.navbar a img {
  height: 32px;
  width: 32px;
}

.hero {
  height: 100vh;
  display: flex;
}
.hero::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}
.hero img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.hero-text {
  position: absolute;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 30%;
  top: 25%;
  left: 24px;
  font-family: var(--ff-code-pro);
  font-weight: 400px;
  color: #fff;
}
.hero-text blockquote p {
  font-size: 2.4rem;
}
.hero-text blockquote cite {
  line-height: 4.2rem;
  font-size: 1.4rem;
}
.manage-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 4rem 2rem;
  position: relative;
}

/* .new-btn .new, */
.manage-btn .new {
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--ff-poppins);
}
.manage-btn .btn {
  background-color: #131313;
  color: #eee0c9;
  transition: 0.5s ease;
}
.manage-btn .btn:hover {
  background-color: #eee0c9;
  color: #131313;
}
/* .new-btn .btn {
  background-color: #eee0c9;
  color: black;
  transition: 0.5s ease;
}
.new-btn .btn:hover {
  background-color: #131313;
  color: #eee0c9;
} */

.search-container {
  background-color: #eee0c9;
  width: 25%;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--ff-poppins);
}

.search-container .search-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #2e2e2e;
  padding: 4px;
  font-size: 16px;
}
.search-container .search-input::placeholder {
  font-size: 18px;
}
.search-container .search-btn {
  color: #2e2e2e;
}

.hide {
  flex-basis: 70%;
  height: fit-content;
  /* display: none; */
}
.manage-book {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 2rem 4rem;
}
.manage-book .card {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  font-family: var(--ff-raleway);
  background-color: #131313;
  color: #eee0c9;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.manage-book .card h2 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 5px;
  border-left: 2px solid #eee0c9;
}

form {
  margin-top: 2.4rem;
}
::placeholder {
  font-family: var(--ff-poppins);
  font-size: 14px;
}
form .input {
  padding: 0.5rem 0 1rem;
}
form .input label {
  font-size: 1.2rem;
}
form .input input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 28px;
  margin-top: 6px;
  padding: 2px 4px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #eee0c9;
  outline: none;
}

#submit-book {
  width: 100%;
  background-color: #eee0c9;
  border-radius: 10px;
  border-style: none;
  margin-top: 2rem;
  padding: 0.8rem;
  font-size: 18px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  transition: 0.25s ease;
}
#submit-book:hover {
  background-color: #010101;
  color: #fff;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}

.card .mini-card {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-top: 3rem;
}
.card .mini-card .card-book {
  display: flex;
  flex-flow: row wrap;
  height: 240px;
  width: 100%;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* box-shadow: 0 1px 3px 0 rgba(238, 224, 201, 0.1),
    0 1px 2px -1px rgba(238, 224, 201, 0.1); */
  font-family: var(--ff-raleway);
  background-color: #010101;
  color: #fff;
  overflow: hidden;
  transition: 0.5s ease;
}

.card .mini-card .card-book:hover {
  box-shadow: rgba(238, 224, 201, 0.16) 0px 10px 36px 0px,
    rgba(238, 224, 201, 0.06) 0px 0px 0px 1px;
}
.mini-card .card-book .cover {
  width: 40%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.mini-card .card-book .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mini-card .card-book .detail-book {
  display: inline-block;
  width: 60%;
  padding: 1rem;
  line-height: 1.2rem;
  font-family: var(--ff-poppins);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.card-book .detail-book h3 {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin: 6px 0 8px;
  font-size: 1.2rem;
}
.card-book .detail-book p {
  font-size: 1.2rem;
  padding: 2px 0 2px 1rem;
  font-size: 0.8rem;
}

.card-book .detail-book .action {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  gap: 0.5rem;
}

.detail-book .action .btn-edit,
.btn-check,
.btn-remove,
.btn-undo {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: #141414;
}
.detail-book .action .btn-edit:hover,
.btn-check:hover,
.btn-remove:hover,
.btn-undo:hover {
  background-color: #41444b;
}
.action .btn-edit {
  color: orange;
}
.action .btn-check,
.action .btn-undo {
  color: greenyellow;
}
.action .btn-remove {
  color: red;
}
/* Footer Section */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  margin-top: 1rem;
  padding: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
}
footer p {
  font-family: var(--ff-code-pro);
  color: #fff;
}

/* Media Query Max 1200px */
@media screen and (max-width: 1200px) {
  .hero::after {
    height: 56%;
    bottom: -18%;
  }
  .hero-text {
    width: 36%;
  }
  .hero-text blockquote p {
    font-size: 2.2rem;
  }
  .hero-text blockquote cite {
    line-height: 3.8rem;
    font-size: 1.2rem;
  }
  .manage-book {
    flex-flow: row wrap;
    padding: 2rem;
  }
  .manage-book .card {
    flex-basis: 60%;
  }
  .mini-card .card-book .cover {
    width: 28%;
  }
  .mini-card .card-book .detail-book {
    width: 72%;
  }
  .search-container {
    width: 60%;
  }
}

/* Media Query Max 992px */
@media screen and (max-width: 992px) {
  .manage-book .card {
    flex-basis: 75%;
  }
  .hero-text {
    width: 40%;
  }
  .hero-text blockquote p {
    font-size: 2.1rem;
  }
  .hero-text blockquote cite {
    line-height: 3.7rem;
  }
  .search-container {
    width: 70%;
  }
  .mini-card .card-book .cover {
    width: 26%;
  }
  .mini-card .card-book .detail-book {
    width: 74%;
  }
}

/* Media Query Max 768px */
@media screen and (max-width: 768px) {
  .hero-text {
    width: 42%;
  }
  .hero-text blockquote p {
    font-size: 1.8rem;
  }
  .hero-text blockquote cite {
    font-size: 1.1rem;
  }
  .manage-book .card {
    flex-basis: 85%;
  }
  .mini-card .card-book {
    height: 220px;
  }
  .mini-card .card-book .cover {
    width: 30%;
  }
  .mini-card .card-book .detail-book {
    width: 70%;
  }
}

/* Media Query Max 600px */
@media screen and (max-width: 600px) {
  .hero-text {
    width: 50%;
  }
  .hero-text blockquote p {
    font-size: 1.7rem;
  }
  .hero-text blockquote cite {
    line-height: 3rem;
    font-size: 1rem;
  }
  .site-logo img {
    height: 24px;
  }
  nav.navbar a .feather-32,
  nav.navbar a img {
    height: 24px;
    width: 24px;
  }
  .manage-book .card {
    flex-basis: 100%;
  }
  .search-container {
    width: 100%;
  }
  .card .mini-card .card-book .detail-book h3 {
    font-size: 1.1rem;
  }
  .card .mini-card .card-book .detail-book p {
    font-size: 0.7rem;
  }
  .card-book .detail-book .action {
    margin-top: 4rem;
  }
  .mini-card .card-book {
    height: 180px;
  }
  .mini-card .card-book .cover {
    width: 38%;
  }
  .mini-card .card-book .detail-book {
    width: 62%;
  }
  .mini-card .card-book .action {
    margin-top: 5.1rem;
  }
}

/* Media Query Max 480px */
@media screen and (max-width: 480px) {
  .hero-text {
    width: 56%;
  }
  .hero-text blockquote p {
    font-size: 1.5rem;
  }
  .hero-text blockquote cite {
    font-size: 0.9rem;
    line-height: 2.4rem;
  }
  /* .site-logo img {
    height: 20px;
  }
  nav.navbar a .feather-32,
  nav.navbar a img {
    height: 20px;
    width: 20px;
  } */
  .manage-book {
    gap: 1rem;
    padding: 2rem;
  }
  .manage-book .card {
    padding: 1.5rem;
  }
  .mini-card .card-book {
    height: 150px;
  }
  .mini-card .card-book .cover {
    width: 42%;
  }
  .mini-card .card-book .detail-book {
    width: 58%;
  }
}
